@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  line-height: 162.5%;
  color: #544837;
  font-weight: 500;
  background-color: #F2F2F2;
}

.menu__in,
.menu__up,
.btn-intro__get,
.features__link,
.team__link,
.footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF9900;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  padding: 0 20px;
  height: 46px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

._container {
  max-width: 1120px;
  margin: 0 auto;
}

._title {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  color: #2F281E;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.menu__list li {
  margin-left: 30px;
}

.menu__list li:first-child {
  margin-left: 0;
}

.menu__link {
  color: #2F281E;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.menu__link:hover {
  color: #FF9900;
}

.menu__btn {
  margin-left: 55px;
}

.menu__in {
  background-color: #F2F2F2;
  color: #173A56;
  border: 1px solid #BCD0E5;
}

.menu__in:hover {
  background-color: #173a56;
  color: #fff;
}

.menu__up {
  margin-left: 15px;
}

.menu__up:hover {
  background-color: #173a56;
  color: #FF9900;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}

.intro__inner {
  margin-right: 65px;
  margin-top: 130px;
}

.intro__title {
  font-size: 44px;
  margin-bottom: 30px;
  min-width: 458px;
}

.intro__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 45px;
}

.intro__img {
  margin-top: 50px;
}

.btn-intro__get {
  height: 53px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 175px;
          flex: 1 0 175px;
  padding: 0 40px;
}

.btn-intro__get:hover {
  background-color: #173a56;
  color: #FF9900;
}

.btn-intro__watch {
  position: relative;
  color: #FF9900;
  padding-left: 56px;
  text-decoration: underline;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn-intro__watch::before {
  content: "";
  background: url(../img/intro/btn.svg) no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.btn-intro__watch:hover {
  color: #2F281E;
  text-decoration: none;
}

.features {
  padding: 0 0 90px 0;
  background-image: url(../img/features/Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

.features__title {
  text-align: center;
  margin-bottom: 55px;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 35px;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 240px;
          flex: 0 1 240px;
}

.features__btn {
  text-align: center;
}

.features__link {
  height: 53px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 175px;
          flex: 0 1 175px;
  padding: 0 40px;
}

.features__link:hover {
  background-color: #173a56;
  color: #FF9900;
}

.item-features__img {
  margin-bottom: 30px;
}

.item-features__title {
  margin-bottom: 13px;
  font-size: 22px;
  font-weight: 600;
}

.directions__items {
  margin: 0 0 157px 0;
}

.directions__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.directions__column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 100px;
}

.directions__item {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 486px;
          flex: 0 1 486px;
}

.directions__item_left {
  margin-top: 50px;
}

.directions__title {
  margin-bottom: 22px;
}

.directions__suptitle {
  margin-bottom: 30px;
}

.item-direction__title {
  font-size: 16px;
  margin-bottom: 12px;
}

.item-direction__text {
  margin-bottom: 25px;
}

.item-direction__text:last-child {
  margin-bottom: 0;
}

.item-direction__text_left {
  position: relative;
  padding-left: 65px;
}

.item-direction__text_left::before {
  content: "";
  background-image: url(../img/directions/icon.svg);
  position: absolute;
  left: 0;
  top: 5px;
  width: 35px;
  height: 35px;
}

.team {
  background-image: url(../img/team/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 835px;
}

.team__content {
  margin: 0 auto;
  max-width: 540px;
  text-align: center;
  padding-top: 230px;
}

.team__title {
  margin-bottom: 22px;
}

.team__text {
  margin-bottom: 45px;
  color: #567592;
}

.team__link {
  height: 53px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 216px;
          flex: 0 0 216px;
  padding: 0 30px;
}

.team__link:hover {
  background-color: #173a56;
  color: #FF9900;
}

.team-item {
  position: relative;
}

.team-item_1 {
  position: absolute;
  top: -250px;
  left: -380px;
}

.team-item_1 .team-item__text {
  max-width: 274px;
}

.team-item_2 {
  position: absolute;
  bottom: -158px;
  left: -86px;
}

.team-item_2 .team-item__text {
  max-width: 263px;
}

.team-item_3 {
  position: absolute;
  top: 160px;
  right: 35px;
}

.team-item_3 .team-item__text {
  max-width: 321px;
}

.team-item_4 {
  position: absolute;
  top: 10px;
  right: -345px;
}

.team-item_4 .team-item__text {
  max-width: 240px;
}

.team-item_5 {
  position: absolute;
  bottom: 210px;
  right: -245px;
}

.team-item_5 .team-item__text {
  max-width: 280px;
}

.team-item__text {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  height: 53px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item__text_right {
  position: absolute;
  top: -36px;
  left: 63px;
  min-width: 274px;
}

.team-item__text_right::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 43px;
  left: 25px;
}

.team-item__text_right::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 17px;
}

.team-item__text_left {
  position: absolute;
  top: -36px;
  right: 63px;
  min-width: 322px;
}

.team-item__text_left::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 42px;
  right: 30px;
}

.team-item__text_left::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  right: 20px;
}

.team-item__img {
  border-radius: 50%;
}

.footer {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container::before {
  content: "";
  width: 1124px;
  border-top: 2px solid rgba(188, 208, 229, 0.496913);
  position: absolute;
  top: 0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 140px;
}

.footer__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.footer__item:nth-child(2) {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 133px;
          flex: 0 0 133px;
}

.footer__item:nth-child(3) {
  margin-left: 80px;
}

.footer__link {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 133px;
          flex: 1 0 133px;
  height: 39px;
}

.footer__link:hover {
  background-color: #173a56;
  color: #FF9900;
}

.item-footer__title {
  font-size: 20px;
  margin-bottom: 35px;
}

.item-footer__link {
  color: #544837;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.item-footer__link:hover {
  color: #FF9900;
}

.form__label {
  margin-bottom: 20px;
}

.input {
  width: 330px;
  height: 48px;
  padding-left: 15px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}